@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600&family=Pacifico&display=swap");

/* Variables */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #f78a76;
  --color-secondary: #25a2c3;

  --font-logo: "Pacifico", sans-serif;
  --font-text: "Open Sans", sans-serif;
  --font-btn: "Montserrat", sans-serif;

  font-size: 16px;
}

/* Reset */

/* Header */

.header__title {
  font-family: var(--font-logo);
  color: var(--background-corail);
}
