@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600&family=Pacifico&display=swap');

/* Variables */

:root{
    --text-black: #000;
    --text-white: #FFF;
    --background-corail: #F78A76;
    --background-bleu: #25A2C3;

    --font-logo: "Pacifico", sans-serif;
    --font-text: "Open Sans", sans-serif;
    --font-btn: "Montserrat", sans-serif;
}

/* Reset */
html {
    font-size: 16px;
}